.HomeSection {
  height: 100vh;
  background: #000;
  display: flex;
  align-items: flex-end;
}

.castleWrapper>div {
  position: absolute;
  width: 24%;
  top: 19%;
  left: 38%;
  z-index: 1;
}

.btnCenter {
  text-align: center;
}

.img-container:hover img {
  cursor: e-resize !important;
}

.btnCenter button {
  background: transparent;
  border: none;
  color: #fff;
}

.Home.pageWrapper {
  position: relative;
}

.carModule .img-container {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  cursor: ew-resize;
}

.carModule .img360 {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.carModule img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.carModule #preload-imgs {
  display: none;
}

.scale-animation {
  transform: scale(4);
  transition: 5s ease;
  /* width: 100% !important;
  height: 100% !important; */
}

canvas#canvas {
  position: absolute;
  width: 42%;
  height: 79vh;
  border-radius: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 5s ease;
}

.HomeSectionRow {
  padding-bottom: 70px;
}

.HomeSectionRow div {
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .HomeSectionRow {
    padding-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}