@font-face {
  font-family: ginger;
  src: url('./components/assets/fonts/ginger.woff');
}

.ginger h1,
.ginger h2,
.ginger h3,
.ginger h4,
.ginger h5,
.ginger p,
.ginger span,
.ginger button,
.ginger {
  font-family: 'ginger', serif;
}

.btnEnter {
  border: solid 2px #fff !important;
  border-radius: 0;
  padding: 30px 50px;
  line-height: 0;
  font-size: 22px;
  text-transform: uppercase;
}

.textMissing {
  font-size: 30px;
}

.textMissing {
  color: #fff !important;
  font-weight: 300 !important;
  font-size: 30px !important;
  line-height: 30px !important;
}

.HomeSection {
  height: 100vh;
  background: url('./components/assets/images/hombg.png') no-repeat center center / cover;
  display: flex;
  align-items: flex-end;
  background-color: #000;
}

.castleWrapper>div {
  position: absolute;
  width: 50%;
  top: -10%;
  left: 25%;
  z-index: 1;
  height: auto;
}

.btnCenter {
  text-align: center;
}

.img-container::before {
  content: '';
  background: url('./components/assets/images/base.png') no-repeat;
  position: absolute;
  width: 100%;
  height: 28%;
  background-size: 100%;
  bottom: 5%;
  background-position: center center;
  z-index: -1;
}

.img-container:hover img {
  cursor: e-resize !important;
}

.btnCenter button {
  background: transparent;
  border: none;
  color: #fff;
}

.Home.pageWrapper {
  position: relative;
}

.carModule .img-container {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  cursor: ew-resize;
}

.carModule .img360 {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.carModule img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.carModule #preload-imgs {
  display: none;
}

.scale-animation {
  transform: scale(4);
  transition: 5s ease;
  background-color: transparent !important;
  /* width: 100% !important;
  height: 100% !important; */
}

canvas {
  background-color: transparent !important;
}

canvas#canvas {
  position: absolute;
  background-color: transparent !important;
  width: 45%;
  height: 70vh;
  border-radius: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 5s ease;
}

.socialWrapper {
  text-align: right;
}

.HomeSectionRow {
  padding-bottom: 70px;
}

.HomeSectionRow div {
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .HomeSectionRow {
    padding-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1480px;
  }

  .HomeSectionRow {
    padding-bottom: 50px;
  }
}